* {
  box-sizing: border-box;
}
body {
  background-color: rgb(216, 190, 188);
}

h1 {
  color: rgb(35, 0, 0);
  text-align: center;
  background-color: rgb(171, 13, 2);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 45px;
  padding-right: 45px;
}

img {
  float: right;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height:auto;
  } 

nav {
  float: left;
  width: 25%;
  background: rgb(172, 120, 116);
  padding: 20px;
  height: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: right;
  padding: 11px;
  width: 75%;
  background-color: rgb(230, 213, 212);
  height: 100%;
  text-align: left;
}

h2 {
  text-align: center;
  font-size: 35px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  float: none;
  padding: 30px;
  width: 100%;
  background-color: rgb(172, 120, 116);
  height: 30%;
  text-align: center;
}

@media (max-width: 600px) {
  nav, article, img {
    width: 100%;
    height: auto;
  }
}