body {
  background-color: rgb(216, 190, 188);
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;

  display: grid;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 50px 1fr 1fr 100px;

  /*another way --> grid-template: 50px 1fr 1fr 100px/ repeat(6, 1fr); */
 
  gap: 10px;

  padding: 10px;
  box-sizing: border-box;
  }

.container div {
  padding: 10px;
  border: 1px solid #000000;
}

.header {
  grid-column-start: 1;
  grid-column-end: 7;
  color: rgb(35, 0, 0);
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  background-color: rgb(171, 13, 2);
}


.banner {
  grid-row-start:2 ;
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: 7;
  }

img {
  max-width: 100%;
  max-height: 100%1;
}

.blog-left-side-bar {
  grid-row-start:2 ;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: 3;
  background: rgb(171, 13, 2);
  
}

.blog-left-side-bar ul {
  list-style-type: none;
  padding-left: 20%;
}

.article {
  grid-row-start:3 ;
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: 7;
  background-color: rgb(216, 190, 188);
}

h2 {
  text-align: center;
  font-size: 35px;
}



.footer {
  grid-row-start: 4;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: 7;
  background-color: rgb(171, 13, 2);
  text-align: center;
}

@media (max-width: 600px) {
  nav, article, img {
    width: 100%;
    height: auto;
  }
}