body {
  background-color: rgb(216, 190, 188);
}

h1 {
  color: rgb(143, 4, 4);
  text-align: center;
  background-color: rgb(171, 13, 2);
  padding-top: 50%;
  padding-bottom: 50%;
  padding-left: 25%;
  padding-right: 25%;
}

p {
  font-family: verdana;
  font-size: 20px;
}